---
title: Benvenuto su Grufi
---

<!--Hero section-->
<section class="hero" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row" data-0="opacity: 1" data-800="opacity: 0">
      <div class="col-md-7"> 
        <!--welcome message-->
        <header class="welcome-message">
          <h1>Benvenuto su Grufi!</h1>
          <h2>
            <i>"I bambini sono autori attivi del proprio sviluppo, fortemente influenzati dalla natura, dinamici, forze autoraddrizzanti dentro di sé, aprendo la strada verso la crescita e l'apprendimento."
            </i>
          </h2>
          <br/>
          <h2>Rimani più vicino ai tuoi figli e la loro scuola!!!</h2>
          
        </header>
        <!--welcome message end--> 
        
        <!--action button-->
        <div class="action-button"> 
          <a href="#features" class="button learn-more text-center">Visualizza Come
            <i class="fa fa-arrow-right"></i>
          </a> 
        </div>
        <!--action button end--> 
        
      </div>
      <div class="col-md-5 text-center"> <img src="images/grufi.png" alt="grufi logo" class="book-cover" data-no-retina> </div>
    </div>
  </div>
</section>
<!--Hero section end--> 

<!--features-->
<section class="features section-spacing text-center" id="features">
  <div class="container">
    <header>
      <h2>Funzionalità di Grufi</h2>
      <h3>Segui il tuo bambino a scuola</h3>
    </header>
    <div class="row">
      <div class="col-md-4 col-sm-6"> <img src="images/feature-1.png" data-at2x="images/feature-1@2x.png" alt="features">
        <h4>Attività giornaliere</h4>
        <hr>
        <p>Giorno per giorno attraverso le attività giornaliere. </p>
      </div>
      <div class="col-md-4 col-sm-6"> <img src="images/feature-2.png" data-at2x="images/feature-2@2x.png" alt="features">
        <h4>Accesso Remoto</h4>
        <hr>
        <p>In qualsiasi momento, ovunque. Attraverso l'accesso dal tuo dispositivo (computer, tablet, cellulare). </p>
      </div>
      <div class="col-md-4 col-sm-6"> <img src="images/feature-3.png" data-at2x="images/feature-3@2x.png" alt="features">
        <h4>Foto/Video</h4>
        <hr>
        <p>Attraverso le foto e i video.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
      <div class="col-md-4 col-sm-6"> <img src="images/feature-4.png" data-at2x="images/feature-4@2x.png" alt="features">
        <h4>Diario attività</h4>
        <hr>
        <p>Storico delle attività e i progetti quotidiani. </p>
      </div>
      <div class="col-md-4 col-sm-6"> <img src="images/feature-5.png" data-at2x="images/feature-5@2x.png" alt="features">
        <h4>Comunicazioni</h4>
        <hr>
        <p>Rimani sempre in contatto con la scuola e le insegnanti. </p>
      </div>
      <div class="col-md-4 col-sm-6"> <img src="images/feature-6.png" data-at2x="images/feature-6@2x.png" alt="features">
        <h4>Sempre in orario</h4>
        <hr>
        <p>Pianifica al meglio gli appuntamenti scolastici. </p>
      </div>
    </div>
  </div>
</section>
<!--features end--> 

<!--sub form-->
<section class="sub-form section-spacing text-center">
  <div class="container">
    <header>
      <h2>Iscriviti per averne un'anteprima</h2>
      <h3>Questo servizio è in fase beta per ora. Se volete testarlo con noi inviate i vostri dati attraverso il modulo sottostante</h3>
    </header>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form action="//grufiapp.us9.list-manage.com/subscribe/post?u=b6e5e433881fd1180a1d48905&amp;id=610bf4e323" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
          <div>
            <input type="text" class="form-control" placeholder="Nome" name="FNAME" required id="mailchimp-fname">
            <i class="fa fa-user first-name-i"></i></div>
          <div>
            <input type="text" class="form-control" placeholder="Cognome" name="LNAME" required id="mailchimp-lname">
            <i class="fa fa-user last-name-i"></i></div>
          <div>
            <input type="email" class="form-control" placeholder="Email" required name="EMAIL" id="mailchimp-email">
            <i class="fa fa-envelope"></i></div>
          <div>
            <input type="checkbox" id="privacy" name="privacy" required="required" value="1">
            <label class="control-label required" for="privacy">Autorizzo il trattamento dei dati personali ai sensi dell'art. 13 d.lgs 196/2003</label></div>
          <button type="submit" class="btn btn-default">Iscriviti</button>
        </form>
        <div class="result">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);
      </script>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>
<!--sub form--> 

<!--site-footer-->
<footer class="site-footer section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="scroll-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>
        
        <!--social-->
        
        <ul class="social">
          <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        
        <!--social end--> 
        
        <small>&copy; Copyright grufiapp.com. Tutti i diritti riservati.</small>
        <p><a href="/privacy">Privacy</a> | <a href="/tos">Termini di utilizzo</a></p>
      </div>
    </div>
  </div>
</footer>
<!--site-footer end--> 

<!--PRELOAD-->
<div id="preloader">
  <div id="status"></div>
</div>
<!--end PRELOAD--> 